@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&family=Press+Start+2P&family=Source+Sans+Pro:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Opens Sans', sans-serif;
}


body{
    height: 100vh;
    background-image: url(https://s2.glbimg.com/YBzseFs-i1zbveRsC7-cEdUiVyI=/e.glbimg.com/og/ed/f/original/2022/07/21/time-gb1acf5eb5_1920.jpg)  ;
    display: flex;
    align-items: center;
    justify-content: center;


}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgb(0, 0, 0, .5);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: azure;
    background: rgb(0, 0, 0, .9);
    box-shadow: 5px 5px 15px rgb(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;

}

.relogio span {
    font-weight: bolder;
    font-size: 60px;


}

.relogio span.tempo {
    font-size: 10px;
    
}